/** http://getbootstrap.com/getting-started/#support-ie10-width*/

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #e9ebee;
	
}

li {
	list-style: none;
}

.wrapper {
	width: 851px;
}

#cover {
	width: 851px;
	height: 315px;
}

#avatar {
	height: 168px;
	width: 168px;
	margin-top: -165px;	
	
}

.heading {
	position: relative;
}

.heading .avatar {
	position: absolute;
	left: 30px;
	bottom: -40px;
}

.headline {
	height: 43px;
	background-color: #fff;
	border: 1px solid #e9eaed;
	border-top: none;
}

.headline ul {
	margin: 0 0 0 240px;
}

.headline ul li {
	float: left;
	height: 43px;
	border-right: 1px solid #e9eaed;	
	border-left: 1px solid transparent;
	padding: 0 15px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	line-height: 43px;
	color: #365899;
}

.headline ul li:first-child {
	border-left: 1px solid #e9eaed;	
}

.headline ul li a {
	text-decoration: none;
}

.headline ul li a:hover {
	color: silver;
}

.headline ul li a:active {
	color: #000;
}

.main header {
	padding: 10px 0;
	background: #f6f7f9;
	margin-top: 15px;
	border-bottom: 1px solid red;
}

.content_body {
	background-color: #fff;
}

.sidebar {
	display: inline-block;
}

