/** http://getbootstrap.com/getting-started/#support-ie10-width*/

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #e9ebee;
}

li {
	list-style: none;
}

.wrapper {
	width: 851px;
}

#cover {
	width: 851px;
	height: 315px;
}

#avatar {
	height: 168px;
	width: 168px;	
	position: absolute;
	left: 30px;
	bottom: -20px;
	border: 1px solid #d3d6db;
}

.heading {
	position: relative;
}
.heading h3 {
  position: absolute;
  top: 250px;
  left: 235px;
  color: white;
}

.headline {
	height: 43px;
	background-color: #fff;
	border: 1px solid #d3d6db;
}

.headline ul {
	margin: 0 0 0 240px;
}

.headline ul li {
	float: left;
	height: 43px;
	border-right: 1px solid #e9eaed;	
	border-left: 1px solid transparent;
	padding: 0 15px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: bold;
	line-height: 43px;
	color: #365899;
}

.headline ul li:first-child {
	border-left: 1px solid #e9eaed;

}

.headline ul li a {
	text-decoration: none;
}

.headline ul li a:hover {
	color: silver;
}

.headline ul li a:active {
	color: #000;
}

.main {
	margin-top: 15px;
	border: 1px solid #d3d6db;
}

.main header {
	padding: 15px 0;
	background-color: #f6f7f9;
	border-bottom: 1px solid #d3d6db;
}

.header_icon h3 {
	font-size: 20px;
	line-height: 1;
	margin: 0 12px 0px;
	padding: 10px 15px;
}
.header_icon a {
	font-weight: bold;
	text-decoration: none;
	color: #4b4f56;
	vertical-align: middle;
}
.content_body {
	background-color: #fff;
	height: 300px;
}

.sidebar {
	padding-left: 0;
	height: 300px;
	border-right: 1px solid #d3d6db;
}
.sidebar li {
	padding-top: 15px;
	padding-left: 25px;
}
.sidebar a {
	text-decoration: none;
	color: #90949c;
	
}

.sidebar a:hover {
	color: #000;
}

.sidebar .active a {
	color: #000;
	font-weight: bold; 
}

.main_content h4 {
	padding-bottom: 5px;
	border-bottom: 1px solid #d3d6db;
	color: #90949c;
	font-weight: bold;
}
.main_content h5 {
	color: #365899;
	font-weight: bold;
	margin-bottom: 0;
}
.overview_list li {
	margin-top: 15px;
}
.overview_list p {
	margin-bottom: 0;
}
.overview_list img {
	float: left;
	padding-right: 10px;
}
small {
	color: #90949c;
}

.contact_list i {
	padding-right: 25px;
}

.gallery {
	background-color: #fff;
}

.gallery img {
	width: 212px;
	height: 212px;
	padding: 3px;
	float: left;
	transition: all 0.3s;
}

.gallery img:hover {
	border-color: #343434;
	
	transform: scale(1.1);	
}

@keyframes slideInRight {
    from { transform:translateX(100%); opacity: 0 }
    to { transform: translateX(0); opacity: 1;  }
}
/* animation slide Left to Right when leaving page */

@keyframes slideOutRight {
    from { transform:translateX(0); opacity: 1;}
    to { transform: translateX(100%); opacity: 0; }
}

.about.ng-enter {
  animation: slideInRight 1s both ease-in;
}

.about.ng-enter.ng-enter-active {
  opacity:1;
}

.about.ng-leave {
	animation: slideOutRight 0.5s both ease-in;
}

.photos.ng-enter {
	animation: slideInRight 1s both ease-in;
}

.photos.ng-enter.ng-enter-active {
  opacity:1;
}

.photos.ng-leave {
	animation: slideOutRight 0.5s both ease-in;
}

/**/
footer {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #d3d6db;
	color: #737373;
	font-size: 12px;
}

